<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout">
<head>
    <title>Welcome to OpenSpot</title>
</head>
<body>
<section layout:fragment="content">

    <div th:if="${joined}" class="alert alert-success alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <strong>Success!</strong> <span th:utext="${joinMessage}">You have successfully joined the session</span>
    </div>



    <script language="JavaScript" src="/js/index.js"></script>
</section>

</body>
</html>