<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
    <title>OpenSpot</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootswatch/3.3.4/united/bootstrap.min.css"
          th:href="@{/webjars/bootstrap/3.3.4/css/bootstrap.min.css}"
          rel="stylesheet" media="screen" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootswatch/3.3.4/united/bootstrap.min.css"
          rel="stylesheet" media="screen" />
    <link href="../static/css/terra.css"
          th:href="@{/css/terra.css}"
          rel="stylesheet" media="screen" />
          <script src="https://maps.googleapis.com/maps/api/js"></script>
    <script src="http://cdn.jsdelivr.net/webjars/jquery/2.1.1/jquery.min.js"
            th:src="@{/webjars/jquery/2.1.1/jquery.min.js}"></script>
    <script src="http://cdn.jsdelivr.net/webjars/webjars/bootstrap/3.3.4/js/bootstrap.min.js"
            th:src="@{/webjars/bootstrap/3.3.4/js/bootstrap.min.js}"></script>
</head>
<body>
<div th:replace="fragments/header :: header"> </div>
<div class="container">
    <section layout:fragment="content">
        <p>Conținutul paginii</p>
    </section>

    <footer>
        <div th:replace="fragments/footer :: footer">&copy; 2015</div>
    </footer>
</div>
</body>
</html>