<!DOCTYPE html>
<html>
<head>
    <title>Hello WebSocket</title>
    <script th:src="@{/webjars/stomp-websocket/2.3.3/stomp.js}"></script>
    <script th:src="@{/webjars/sockjs-client/0.3.4/sockjs.js}"></script>
    <script type="text/javascript">
        var stompClient = null;

        function setConnected(connected) {
            document.getElementById('connect').disabled = connected;
            document.getElementById('disconnect').disabled = !connected;
            document.getElementById('conversationDiv').style.visibility = connected ? 'visible' : 'hidden';
            document.getElementById('response').innerHTML = '';
        }

        function connect() {
            var socket = new SockJS('/api/public/websocket/spots/all');
            stompClient = Stomp.over(socket);
            stompClient.connect({}, function(frame) {
                setConnected(true);
                console.log('Connected: ' + frame);
                stompClient.subscribe('/topic/parkingSpots', function(parkingSpots){
                    showGreeting(JSON.parse(parkingSpots).content);
                });
            });
        }

        function disconnect() {
            if (stompClient != null) {
                stompClient.disconnect();
            }
            setConnected(false);
            console.log("Disconnected");
        }

        function sendName() {
            stompClient.send("/api/public/websocket/spots/all", {}, JSON.stringify({}));
        }

        function showGreeting(parkingSpots) {
            var response = document.getElementById('response');
            var p = document.createElement('p');
            p.style.wordWrap = 'break-word';
            p.appendChild(document.createTextNode(parkingSpots));
            response.appendChild(p);
        }